#backdrop,
.card button
{
    transition: opacity .5s;
}

.add-box
{
    transition: transform .5s;

    will-change: transform;
}

.card button,
.edit:hover,
.delete:hover
{
    transition: color .75s;
    transition: text-shadow .75s;
}

.float-btn
{
    will-change: transform;
}

li
{
    transition: transform .5s;
}

.list .edit,
.list .delete
{
    transition: opacity .25s;
}

.buttons .edit,
.buttons .delete
{
    transition: opacity .25s;
}
