/*

    Set box-sizing to border-box on all elements

*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*

    Initalization of application shell

*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
}

main {
  margin-top: 3.5em;
}

h1 {
  padding: 0 0.5em;
  margin: 0.25em 0;
  pointer-events: none;
  font-family: 'Cabin', sans-serif;
}

i {
  pointer-events: none;
}

/*

    Foundational Classes

*/

.top-bar {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 3.5em;
  background: #4488aa;
  color: white;
}

.container {
  padding: .5em 0;
  margin: 0 auto;
}

#backdrop {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  background: rgba(0, 0, 0, .4);
}

#backdrop.open {
  opacity: 1;
}

/*

    Standard box-shadows for elements that require shadow

*/

.card,
.top-bar,
.float-btn {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .3), 0 1px 4px rgba(0, 0, 0, .3);
}

/*

    Card design and Flexbox alteration

*/



.add-box {
  position: fixed;
  z-index: 100;
  pointer-events: none;
  transform: translateX(-110vw);
}

.add-box.open {
  transition: transform 0.5s;
  transform: translateX(0);
  pointer-events: all;
}

.list-container {
  padding: 0;
}

.card {
  margin: 1rem auto;
  position: relative;
  list-style: none;
  padding: 0.05em;
  width: 100%;
  background-color: white;
  border-radius: 0.15em;
  border: 0;
  max-width: 700px;
}

.list {
  height: 3.5rem;
}

.app .card:first-child {
  margin-top: 0.5rem;
}

.add-box {
  display: block;
  max-width: 400px;
  width: 100%;
  text-align: center;
  padding: 1rem;
  position: fixed;
  margin: 0 auto;
}

.add-box button {
  margin-right: 0.4rem;
}

.card .card-header {
  pointer-events: none;
  display: inline-block;
  width: 50%;
  margin: 0;
  margin-left: 1rem;
  vertical-align: 0.25rem;
  position: absolute;
  left: 2.5rem;
  top: 0.85rem;
}

/*

    Customize form elements

*/

input[type="checkbox"] {
  position: relative;
  margin: 0 1rem;
  margin-top: 0.4rem;
  height: 2.5rem;
  background-color: white;
  text-align: left;
}

input[type="text"] {
  height: 2.5rem;
  width: 60%;
  background-color: white;
  font-size: 1.25rem;
  max-width: 250px;
}

/*

    Button design and Animation

*/

.card button {
  background: white;
  border: 0;
  transition: opacity 0.5s;
  color: #48a;
  cursor: pointer;
  width: 2.5rem;
  float: right;
  margin-top: 0.4rem;
  padding: 0.5rem 0.2rem;
}

#close-dialog, #add-item {
  position: absolute;
  float: none;
  margin-right: 0.4rem;
  right: 0;
}

#add-item {
  bottom: 0;
  margin-bottom: 0.4rem;
}

#close-dialog {
  top: 0;
}

button:focus {
  outline: 0;
  background-color: #eee;
}

.edit:hover {
  opacity: 1;
  color: green;
  text-shadow: 0 0 5px rgba(0, 0, 0, .9);
}

.delete:hover {
  opacity: 1;
  color: red;
  text-shadow: 0 0 5px rgba(0, 0, 0, .9);
}

.heading {
  padding: 1rem 1.5rem;
  background: white;
  box-shadow: 0 6px 4px rgba(0, 0, 0, .4), 0 2px 2px rgba(0, 0, 0, .12);
}

/*

    Edit mode for list items

*/


input[type="text"].edit-text {
  display: inline-block;
  visibility: hidden;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 1rem;
  font-size: 1.25rem;
  background: #eee;
  z-index: 10;
  border: 1px solid black;
}

.edit-mode input[type="text"].edit-text {
  visibility: visible;
  position: absolute;
  width: 50%;
  left: 2.5rem;
  top: 0.95rem;
}

.edit-mode .card-header,
.edit-mode .delete {
  visibility: hidden;
}

.edit-text:focus {
  visibility: visible;
  border: 1px rgb(0, 0, 0);
  border: 1px rgba(0, 0, 0, .9);
}

.completed .card-header {
  text-decoration: line-through;
  color: #808080;
}

.float-btn {
  margin-right: 1em;
  margin-bottom: 1em;
  opacity: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
  background-color: #48a;
  background-color: rgba(68, 136, 170, .6);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  color: white;
}

.float-btn:hover {
  cursor: pointer;
  background-color: #49b;
  background-color: rgba(68, 186, 220, .6);
}

/*

    Flexbox creation

*/

.app {
  display: flex;
  flex-direction: column;
}

.list-container {
  width: 100%;
  flex-basis: 100%;
}

/*

    Media Queries

*/

@media (min-width: 400px) {
    .add-box {
      left: 50%;
      margin-left: -200px;
    }
}

@media (min-width: 500px) {

  /*

      Tablet Design

  */
  .card {
    width: 80%;
  }

  .list {
    width: 90%;
  }

  .float-btn {
    margin-right: 2em;
    margin-bottom: 2em;
  }

}

@media (min-width: 780px) {

  /*

    Desktop/Laptop

  */

  .edit, .delete {
    opacity: 0;
  }

  .buttons .edit,
  .buttons .delete,
  .edit-mode .edit
  {
    opacity: 1;
  }

  input[type="text"] {
    width: 90%;
  }
  .list-container {
    width: 100%;
    flex-basis: 90%;
  }

  .add-box button {
    margin-right: 0.4rem;
  }

  .app {
    flex-direction: row;
  }
}
